=============== 
Unity generated
===============
Temp/
Library/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs/

============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


Assets/2D Roguelike Upgrade Guide 5x.pdf
Assets/2D Roguelike Upgrade Guide 5x.pdf.meta
Assets/DungeonVoxels.meta
Assets/DungeonVoxels/
Assets/Readme.asset
Assets/Readme.asset.meta
Assets/TutorialInfo.meta
Assets/TutorialInfo/
Assets/_Complete-Game.meta
Assets/_Complete-Game/
ProjectSettings/UnityAdsSettings.asset.meta
